@import "https://use.typekit.net/nzu8hkq.css";

@font-face {
  font-family: "1089_display";
  src: url("/fonts/1089_display.woff2") format("woff2"),
    url("/fonts/1089_display.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" on;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

ul {
  padding: 0;
}

li {
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  position: relative;
}

:root {
  --gray00: #f4f4f4;
  --gray20: #e7e7e7;
  --gray40: #a6a6a6;
  --gray60: #606060;
  --gray80: #333333;
  --gray100: #111111;

  --red00: #fbf9f9;
  --red20: #f8f0ed;
  --red40: #f4d9cf;
  --red60: #f4b7a0;
  --red80: #e48865;
  --red100: #a4654e;

  --typeSpacingSmall: 0.25rem;
  --typeSpacingMedium: 0.5rem;
  --typeSpacingLarge: 0.75rem;
  --typeSpacingXLarge: 1rem;

  --headingFamily: "1089_display", serif;
  --headingColor: var(--gray100);
  --headingLeading: 95%;
  --headingTracking: 0;
  --headingTransform: uppercase;
  --headingWeight: 400;

  --paragraphFamily: neuzeit-grotesk, sans-serif;
  --paragraphColor: var(--gray80);
  --paragraphLeading: 135%;
  --paragraphTracking: 0;
  --paragraphWeight: 400;

  --ease-in: cubic-bezier(0.49, 0.025, 0.65, 0.65);
  --ease-out: cubic-bezier(0.28, 0.44, 0.49, 1);
  --ease-in-out: cubic-bezier(0.49, 0.025, 0.49, 1);
  --ease-in-soft: cubic-bezier(0.49, 0.025, 0.685, 1);
  --ease-out-soft: cubic-bezier(0.28, 0, 0.49, 1);

  --transitionShort: all 300ms var(--ease-in-out);
  --transitionBase: all 500ms var(--ease-in-out);
  --transitionLong: all 800ms var(--ease-in-out);
  --transitionStrong: all 1200ms var(--ease-in-out);

  --borderBase: 1px solid var(--gray20);

  --containerXSmall: 30rem;
  --containerSmall: 45rem;
  --containerMedium: 55rem;
  --containerLarge: 75rem;
  --containerXlarge: 105rem;

  --gridTwo: 1fr;
  --gridThree: 1fr;
  --gridFour: 1fr;
  --gridBrand: 1fr 1fr;
  --gridInsta: 1fr 1fr;

  --spacingGutter: 2rem;
  --spacingSection: 0 1rem;
  --spacingSlider: 1rem;

  --spacingXXSmall: 1rem;
  --spacingXSmall: 1rem;
  --spacingSmall: 1.5rem;
  --spacingMedium: 2.5rem;
  --spacingMarge: 3rem;
  --spacingLarge: 4rem;
  --spacingXLarge: 6rem;
  --spacingXXLarge: 8rem;

  --zLost: -1;
  --zBack: 0;
  --zBase: 1;
  --zFront: 5;
  --zNav: 10;
  --zModal: 20;
  --zLoad: 100;
  --zTop: 500;
  --zCursor: 750;
  --zTest: 1000;
}
@media (min-width: 480px) {
  :root {
    --spacingGutter: 1rem;
    --spacingSection: 0 2rem;
    --spacingSlider: 2rem;

    --spacingXXSmall: 1rem;
    --spacingXSmall: 1rem;
    --spacingSmall: 1.5rem;
    --spacingMedium: 2.5rem;
    --spacingMarge: 3.25rem;
    --spacingLarge: 5rem;
    --spacingXLarge: 6rem;
    --spacingXXLarge: 10rem;
  }
}

@media (min-width: 880px) {
  :root {
    --gridTwo: 1fr 1fr;
    --gridThree: repeat(3, 1fr);
    --gridFour: repeat(4, 1fr);
    --gridInsta: repeat(4, 1fr);
    --gridBrand: repeat(6, 1fr);

    --spacingGutter: 2rem;
    --spacingSection: 0 2.5rem;
    --spacingSlider: 2.5rem;

    --spacingXSmall: 1.25rem;
    --spacingSmall: 2.25rem;
    --spacingMedium: 3.25rem;
    --spacingMarge: 6rem;
    --spacingLarge: 8rem;
    --spacingXLarge: 10rem;
    --spacingXXLarge: 12.5rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --spacingGutter: 2.5rem;
    --spacingSection: 0 3rem;
    --spacingSlider: 3rem;

    --spacingXSmall: 1.5rem;
    --spacingSmall: 3rem;
    --spacingMedium: 4.5rem;
    --spacingMarge: 8rem;
    --spacingLarge: 10rem;
    --spacingXLarge: 12.5rem;
    --spacingXXLarge: 15rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --spacingGutter: 4rem;
    --spacingSection: 0 3.5rem;
    --spacingSlider: 3.5rem;

    --spacingXSmall: 1.75rem;
    --spacingMedium: 5rem;
    --spacingMarge: 8rem;
    --spacingLarge: 12.5rem;
    --spacingXLarge: 15rem;
    --spacingXXLarge: 25rem;
  }
}

@media (min-width: 1680px) {
  :root {
    --spacingGutter: 5rem;
    --spacingSection: 0 4rem;
    --spacingSlider: 4rem;
  }
}
